In [15]:
import requests
import bs4
from bs4 import BeautifulSoup
import urllib
import pandas as pd
import matplotlib as plt
%matplotlib inline
import time

In [17]:
url='https://www.indeed.com/jobs?q=data+scientist+%24120000&l=Sunnyvale%2C+CA'

In [24]:
#making a list of cities to run through
cities = ['Redwood+City', 'Menlo+Park', 'San+Jose', 'Milpitas', 'Sunnyvale', 'Santa+Clara']

In [21]:

### Rithika suggested I merge all of the find_alls into one large function, so the code below was created with her assistance. 

def parse(url):
    html = requests.get(url)
    soup = BeautifulSoup(html.content, 'html.parser', from_encoding="utf-8")
    df = pd.DataFrame(columns=["Title","Location","Company","Salary", "Synopsis"])
    for each in soup.find_all(class_= "result" ):
        try: 
            title = each.find(class_='jobtitle').text.replace('\n', '')
        except:
            title = 'None'
        try:
            location = each.find('span', {'class':"location" }).text.replace('\n', '')
        except:
            location = 'None'
        try: 
            company = each.find(class_='company').text.replace('\n', '')
        except:
            company = 'None'
        try:
            salary = each.find('span', {'class':'no-wrap'}).text.text.replace('\n', '')
        except:
            salary = 'None'
        synopsis = each.find('span', {'class':'summary'}).text.replace('\n', '')
        df = df.append({'Title':title, 'Location':location, 'Company':company, 'Salary':salary, 'Synopsis':synopsis}, ignore_index=True)
    return df

In [22]:
parse(url)

,Title,Location,Company,Salary,Synopsis
0,Principal Data Scientist I,None,Roche,None,Principal Data Sci...
1,Senior Data Scientist,None,Akamai,None,As a Senior Data S...
2,Software (Big Data) Engineer - 5 Years Experience,None,Fast Growing Financial Firm,None,The Data Engineer ...
3,"Principal Scientist, DMPK",None,"Pharmacyclics, an Abbvie Company",None,Review nonclinical...
4,Data Scientist (GEC11901),"Sunnyvale, CA 94087",Walmart Stores,None,The @WalmartLabs Personalization t...
5,Data Scientist (GEC11901),"Sunnyvale, CA 94087",Walmart eCommerce,None,The @WalmartLabs Personalization t...
6,Data Analyst,"Santa Clara, CA 95051",Creatus,None,Experience with Data Warehousing a...
7,Data Scientist - New College Grad,"Sunnyvale, CA 94089",Proofpoint,None,Proficiency in data exploration te...
8,Data Scientist – Deep Learning,"Sunnyvale, CA 94085",Bosch Group,None,Take responsibility for preparing ...
9,Data Scientist,"Sunnyvale, CA",Microsoft,None,"Data mining, machine learning, information ret..."
10,Data Scientist,"Santa Clara, CA",Optima Global Solutions,None,Working experience in end to end d...
11,Data Scientist,"Sunnyvale, CA",Huobi,None,Build data pipelines that import t...
12,Data Scientist,"Santa Clara, CA 95054",Abbott Laboratories,None,Able to train and develop junior d...
13,Data Scientist,"Santa Clara, CA",Palo Alto Networks,None,Collaborate with data engineers to...
14,Data Scientist,None,CloudCar,None,Looking for someon...
15,"Data Engineer - BI, Python, Data Warehousing",None,eXcell,None,Collaboration with...

In [38]:

url_template = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l={}&start={}"
max_results_per_city = 200 # Set this to a high-value (5000) to generate more results. 
# Crawling more results, will also take much longer. First test your code on a small number of results and then expand.
i = 0
results = []
df_more = pd.DataFrame(columns=["Title","Location","Company","Salary", "Synopsis"])
for city in cities:
    for start in range(0, max_results_per_city, 10):
        # Grab the results from the request (as above)
        url = url_template.format(city, start)
        # Append to the full set of results
        html = requests.get(url)
        soup = BeautifulSoup(html.content, 'html.parser', from_encoding="utf-8")
        for each in soup.find_all(class_= "result" ):
            try: 
                title = each.find(class_='jobtitle').text.replace('\n', '')
            except:
                title = None
            try:
                location = each.find('span', {'class':"location" }).text.replace('\n', '')
            except:
                location = None
            try: 
                company = each.find(class_='company').text.replace('\n', '')
            except:
                company = None
            try:
                salary = each.find('span', {'class':'no-wrap'}).text.replace('\n', '')
            except:
                salary = None
            try:
                synopsis = each.find('span', {'class':'summary'}).text.replace('\n', '')
            except:
                synopsis = None
            df_more = df_more.append({'Title':title, 'Location':location, 'Company':company, 'Salary':salary, 'Synopsis':synopsis}, ignore_index=True)
            i += 1
            if i % 1000 == 0:  # Ram helped me build this counter to see how many. You can visibly see Ram's vernacular in the print statements.
                print('You have ' + str(i) + ' results. ' + str(df_more.dropna().drop_duplicates().shape[0]) + " of these aren't rubbish.")

You have 1000 results. 38 of these aren't rubbish.

In [39]:
df_more.to_csv('Indeed_jobs_near_me.csv', encoding='utf-8')

In [40]:
df_more = pd.read_csv('C:/Users/Ghezae/Indeed_jobs_near_me.csv')

In [41]:
df_more.drop('Unnamed: 0', axis =1, inplace=True)

In [42]:
df_more.head()

,Title,Location,Company,Salary,Synopsis
0,"Commercial, Marketing Operations Intern",NaN,"Pharmacyclics, an Abbvie Company",NaN,Collect quantitati...
1,DMPK (DM Focus) Intern,NaN,"Pharmacyclics, an Abbvie Company",NaN,Good documentation...
2,"Data Engineer - BI, Python, Data Warehousing",NaN,eXcell,NaN,Collaboration with...
3,Data Scientist - Insurance,NaN,Blue Owl,"$200,000 - $350,000 a year",This role will req...
4,"Scientist, XRD/XRR",NaN,EAG Inc.,NaN,Able to communicat...

In [43]:
print(df_more[df_more.Salary != 'None'].shape)

(1896, 5)

In [44]:
df_more = df_more[df_more.Salary !='None'].drop_duplicates().dropna()

In [45]:
df_more.head()

,Title,Location,Company,Salary,Synopsis
12,Data Scientist,"Santa Clara, CA",vysystems,$50 - $60 an hour,Data Scientist with experience in ML/Stats & D...
32,Principle NLP Data Scientist,"San Francisco Bay Area, CA",R2 Global AI,"$200,000 - $250,000 a year",Principal NLP Data Scientist. The ...
50,Data Scientist - Recommendations,"San Francisco, CA",Stitch Fix,"$108,000 - $159,000 a year (In...","Work in a strong, collaborative en..."
51,Summer 2019 Intern - Data Science,"San Francisco, CA 94105 (Financial District area)",Salesforce,"$97,000 - $143,000 a year (Ind...",Summer 2019 Intern - Data Science....
53,Data Scientist,"San Francisco, CA",Chime,"$122,000 - $180,000 a year (In...",And intermediate knowledge of SQL ...